<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Wiki
            </h1>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <h1 class="title">{{.Title}}</h1>
    {{.Content}}
<div class="message">
    <div class="message-body has-text-centered">
        <a href="{{.URL}}">Permalink</a>. First published on {{.Date.Format "Mon 2 December 2006"}}.
    </div>
</div>
    </div>
</section>
