        </div>
        </div>
        <footer class="pt-2">
            <div class="text-center p-5">
                <p>{{ i18n "footer-author-license" . | safeHTML}}</p>
                <p>{{ i18n "footer-generator" . | safeHTML}}</p>
            </div>
        </footer>
        <link rel="stylesheet" href="{{ "css/bootstrap.min.css" | relURL }}">
        <script type="text/javascript" src="{{ "js/jquery.min.js" | relURL }}"></script>
        <script type="text/javascript" src="{{ "js/bootstrap.min.js" | relURL }}"></script>
    </body>
</html>
