<div class="bg-primary"><nav class="navbar navbar-toggleable-md navbar-inverse bg-primary container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-brand mb-0">roidelapluie</div>
        {{ $currentPage := . }}
        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="navbar-nav mr-auto">
                {{ range .Site.Menus.main }}
                {{ if not (in $.Site.Data.misc.menu.excluded.excluded .Name) }}
                <a class="nav-item nav-link {{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{ end }}" href="{{.URL}}">
                        {{.Name}}
                    </a>
                {{ end }}
                {{ end }}
            </div>
            <div class="navbar-nav">
                {{ range .Site.Languages }}
                {{ $.Scratch.Set "link" (printf "/%s" .Lang) }}
                    {{ $lang := .Lang }}
                    {{ if $currentPage.IsTranslated }}
                        {{ range $currentPage.Translations }}
                            {{ if eq $lang .Lang }}
                                {{ $.Scratch.Set "link" .Permalink }}
                            {{ end }}
                        {{end}}
                    {{end}}
                    <a class="nav-item nav-link {{ if eq $currentPage.Lang .Lang }} active{{ end }}" href="{{$.Scratch.Get "link" }}">
                        {{.Lang}}
                    </a>
                {{end}}
            </div>
        </div>
</nav>
</div>
