{{ partial "header.html" . }}
<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Talks
            </h1>
        </div>
    </div>
</section>
<section class="section">
<div class="container">
    <div class="columns is-multiline is-centered">
{{ range (where (where .Site.Pages.ByWeight "Type" "talk") "IsNode" false)  }}
    <div class="column is-3">
        {{.Render "next"}}
    </div>
    {{end}}
    </div>
    </div>
</section>
{{ partial "footer.html" . }}
