<div class="container">
    <div class="columns">
        <div class="column">
            {{range (where (where .Site.Pages.ByWeight "Type" "homepage") ".Params.location" "main") }}
            {{.Render "main"}}
            {{end}}
            {{ partial "homepage/contact.html" . }}
        </div>
        <div class="column is-one-quarter">
            {{range (where (where .Site.Pages.ByWeight "Type" "homepage") ".Params.location" "sidebar") }}
            {{.Render "sidebar"}}
            {{end}}
        </div>
    </div>
</div>
