            {{ $.Scratch.Set "published" 0 }}
            {{ $.Scratch.Set "NEXT" 0 }}
            {{ range sort (where (where .Site.Pages.ByWeight "Type" "talk") "IsNode" false) "Date" }}
            {{if ge .Date.Unix now.Unix }}
            {{ if lt ($.Scratch.Get "NEXT") 1 }}
<section class="section">
    <div class="container">
        <h1 class="title">Next talks</h1>
        <div class="columns is-multiline is-centered">
            {{ $.Scratch.Set "NEXT" 1 }}
            {{end}}
            {{ if lt ($.Scratch.Get "published") 4 }}
            {{ $.Scratch.Add "published" 1 }}
            <div class="column is-3">
                {{.Render "next"}}
            </div>
            {{end}}
            {{end}}
            {{end}}
{{ if gt ($.Scratch.Get "NEXT") 0 }}
        </div>
    </div>
</section>
{{end}}
