<li>
    {{if .Params.fuzzydate}}
    {{ i18n (.Date.Format "January-fuzzy") (.Date)}},
    {{else}}
    {{ i18n (.Date.Format "January") (.Date)}},
    {{end}}
    {{if .Params.eventurl}}<a href="{{.Params.eventurl}}">{{end -}}
        {{- .Params.event -}}
    {{- if .Params.eventurl}}</a>{{end }},
    {{if .Params.city}}{{.Params.city}}, {{end}}
    {{if .Params.city}}{{.Params.country}}, {{end}}
    {{if .Params.slidesurl}}<a href="{{.Params.slidesurl}}">{{end -}}
        {{.Title}}
    {{- if .Params.slidesurl}}</a>{{end }}
    {{if .Params.video}} (<a href="{{.Params.video}}">video</a>){{end -}}
    {{if gt .Date.Unix .Now.Unix }}
    <span class="badge badge-primary">{{i18n "scheduledtalk" }}</span>
    {{end}}
</li>
