<li>
    {{if .Params.fuzzydate}}
    {{ i18n (.Date.Format "January-fuzzy") (.Date)}},
    {{else}}
    {{ i18n (.Date.Format "January") (.Date)}},
    {{end}}
    {{if .Params.eventurl}}<a href="{{.Params.eventurl}}">{{end -}}
        {{- .Params.event -}}
    {{- if .Params.eventurl}}</a>{{end }},
{{if .Params.city}}{{.Params.city}}{{end}}{{if .Params.country_emoji}}{{":" |add .Params.country_emoji|lower|add ":"|emojify}}{{else if .Params.country}} {{":" |add .Params.country|lower|add ":"|emojify}}{{end}}{{if .Params.city}}, {{end}}
        {{- if .Params.slidesurl}} <a href="{{.Params.slidesurl}}">{{end }}
    <em>{{.Title}}</em>
        {{- if .Params.slidesurl}}</a>{{end }}
        {{- if .Params.slidesurl}} <a title="Slides" href="{{.Params.slidesurl}}">{{":blue_book:"|emojify}}</a>{{end }}
{{if .Params.video}} <a title="Video" href="{{.Params.video}}">{{":video_camera:"|emojify}}</a>{{end -}}
    {{if gt .Date.Unix now.Unix }}
    {{ ":calendar:"|emojify }}
    {{end}}
</li>
